{%- from "../../system/component.njk" import component -%}
{%- from "../../system/attribute-if-present.njk" import attributeIfPresent -%}

<flow-item id="{{ params.id }}"
           type="{{params.type}}"
           {{ attributeIfPresent('data-next', params.next) }}
           {{ attributeIfPresent('data-prev', params.prev) }}
           {{ attributeIfPresent('aria-label', params.label ) }}
           data-row="{{ params.row }}"
           data-col="{{ params.col }}">

  <h2><a href="#" >
      <span class="sr-only">Edit page: </span>{{ params.title }}<span class="sr-only">, {{ params.type }} page</span>
  </a></h2>

  {{ component('activated-menu', {
    triggerLabel: 'Page actions',
    items: params.page_menu_items
  }) }}

  {{ component('activated-menu', {
    triggerLabel: 'Add page',
    items: params.connection_menu_items
  }) }}

</flow-item>

