<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Accessible Flow View - List Branch Conditions</title>


    <script type="module">
      document.documentElement.classList.remove('no-js');
      document.documentElement.classList.add('js');
    </script>
    <style>
      .js [cloak] {
        display: none;
      }
    </style>


    <link rel="stylesheet" href="/assets/css/index.css">

    <script src="/assets/js/activated-menu.js" type="module"></script>
    <script src="/assets/js/expanding-section.js" type="module"></script>
    <script src="/assets/js/flow-item.js" type="module"></script>
    <script src="/assets/js/flow-branch.js" type="module"></script>
    <script src="/assets/js/flow-grid.js" type="module"></script>
  </head>

  <body>

  {{ content | safe }}

  </body>

</html>
