:root {
  --item-width: 200px;
  --item-height: 125px;
  --gap-x: 100px;
  --gap-y: 125px;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

html {
  // background-color: govuk-colour("light-grey");
  min-height: 100%;
  position: relative;
}

body {
  position: relative;
  // display: flex;
  // flex-direction: column;
  // min-height: 100vh;

}

#header-logo-link {
	display: inline-block;
	margin-right: 10px;
	position: relative;
	top: -2px;
	vertical-align: middle;
}

#main-content {
  position: relative;
  width: 100%;
}

#ServicesContentScrollContainer {
  // Due to layout element of GDS templates, the scroll dimensions
  // need to be calculated by JS (cannot just use width:100%).
  box-sizing: border-box;
  overflow: visible;
  position: relative;
  z-index: 20; // prevents very tall first flow conditions breaking out and overlapping header/preview button
}

.govuk-footer__copyright-logo {
	background-image: url("/assets/img/govuk-crest.png");
}

#flow-overview {
  min-height: 200px; // Temporary workaround of intermittent height calculation issues
  position: relative;
}

.flow-item .page-menu {
  display: inline-block;
  left: 157px;
  opacity: 0;
  position: absolute;
  top: 82px;
}

.page-menu:hover,
.flow-item__thumbnail:hover ~ .page-menu {
  opacity: 1;
}

.flow-item .page-menu:focus-within {
  opacity: 1;
}

#flow-overview .flow-item .connection-menu {
display: inline-block;
position: absolute;
left: calc(100% + 10px);
top: calc(50% - 17px);
}

#flow-overview .flow-branch .page-menu {
  display: inline-block;
  left: 82px;
  top: 80px;
}


#flow-overview .flow-branch .conditions .connection-menu {
  left: calc(100% - 17px);
  top: calc(100% - 17px);
}

.form-footer {
  ul {
    display: flex;
    gap:  var(--gap-x);
  }
}

.line {
  --stroke-width: 2px;
  --arrow-width: 12px;
  --arrow-height: 6px;
  --color: #949494;

  position: absolute;
  background: var(--color);

  &:hover {
    --color: #003078;
    --stroke-width: 4px;
  }
}

.line-h {
  height: var(--stroke-width);
}

.line-v {
  width: var(--stroke-width);
}

.flow-item .line-h {
  @extend .line;

  bottom: calc(  (var(--item-height) / 2) - (var(--stroke-width) / 2));
  left: calc(var(--item-width) + 2px);
  width: calc(var(--gap-x) - 4px);
}

.flow-item .line-v {
  @extend .line;
}



.flow-item .line-h--with-arrow {
  &::after {
    content: '';
    position: absolute;
    top: calc(var(--arrow-height) * -1);
    right: 0px;
    width: 0px;
    height: var(--stroke-width);
    border-top: var(--arrow-height) solid transparent;
    border-bottom: var(--arrow-height) solid transparent;
    border-left: var(--arrow-width) solid var(--color);
  }
}

.flow-branch .conditions li .line-h {
  bottom: calc( (var(--stroke-width) / 2) * -1);
  left: 0;
  width: calc(var(--condition-width) + var(--gap-x));
}

.flow-branch .conditions li:not(:first-child) .line-h {
  left: calc(var(--item-width) / 2 * -1);
  width: calc(var(--condition-width) + var(--gap-x) + var(--item-width) / 2 );
}

.flow-branch .conditions li .line-v {
  top: calc( var(--item-height) - ( var(--row-index) * (var(--item-height) + var(--gap-y)) - (var(--item-height) / 2) ));
  left: calc( var(--item-width) / 2 * -1 - var(--stroke-width) / 2 );
  height: calc( (var(--item-height) / 2 * -1) + (var(--row-index) * (var(--item-height) + var(--gap-y))) );
}


///////////////////////
// NEW STUFF FOR SCROLLING
//
.page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .govuk-footer {
    margin-top: auto;
  }
}

.scroll {
  position: relative;
  overflow-x:scroll;
  width:100vw;


.govuk-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 50;
}

.fb-sub-header {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100vw;
  z-index: 40;
  background-color: white;
}

.flow-titlebar {
  margin-top: 30px;
}

.govuk-footer {
  margin-top: auto;
  position: sticky;
  left:0;
  width:100vw;
}
}

#ServicesContentScrollContainer {
  position: relative;
  top: 200px;
}

h2, h3 {
  font-size: 1.1rem;
  font-weight: normal;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  margin: -1px !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.fb-govuk-button {
  // govuk-button style is green but we want blue buttons on fb-editor.
  @include fb-govuk-button;
}

.fb-govuk-button--inline {
  width: auto;
}

.fb-link-button {
  @include button_as_link;
}

.fb-govuk-button-inverted {
  @include button_type_link;
}

.fb-govuk-button-inverted {
  @include button_type_link;
  box-shadow: none; // 0 1px 0 #002d18;
}

[hidden] {
  display: none;
}

a[disabled] {
  pointer-events: none;
}

.width-responsive-two-thirds {
  // @include responsive_width("two-thirds");
}
