:root {
  --item-width: 200px;
  --item-height: 120px;
  --gap-x: 50px;
  --gap-y: 130px;
}

html {
    /* background: #ccc; */
  padding: 2rem;
}

flow-grid.enhanced > [role="row"] {
  position: relative;
  height: calc( (var(--item-height) + var(--gap-y))  * var(--rows));
}

flow-item.enhanced {
  position: absolute;
  width: var(--item-width);
  height: var(--item-height);
  left: calc( (var(--item-width) + var(--gap-x)) * var(--col-index));
  top: calc( (var(--item-height) + var(--gap-y))  * var(--row-index));
  border: 2px solid;
  padding:  0.5rem;
}

flow-item.enhanced ul.conditions,
flow-item.enhanced branch-conditions {
  position: absolute;
  left: calc( (var(--item-width) + var(--gap-x)));
  top: 0;
  width: var(--item-width);
  list-style: none;
}

flow-item.enhanced ul.conditions li,
flow-item.enhanced branch-conditions branch-condition {
  position: absolute;
  width: var(--item-width);
  left: 0;
  top: calc( (var(--item-height) + var(--gap-y))  * var(--row-index));
}

flow-grid.enhanced branch-conditions [role="row"] {
  position: relative;
  height: calc( var(--item-height) + var(--gap-y));
}

flow-item:focus-visible {
  outline: 3px solid yellow;
}

flow-item.active {
  outline: 3px solid red;
}

branch-condition:focus-visible {
  outline: 3px solid yellow;
}
branch-condition.active {
  outline: 3px solid red;
}



h2, h3 {
  font-size: 1.1rem;
  font-weight: normal;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  margin: -1px !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
