{% set connectionMenuItems = [
    {
        title: 'Add single question page',
        children: [
            { title: 'Text' },
            { title: 'Textarea' },
            { title: 'Email address' },
            { title: 'Number' },
            { title: 'Date' },
            { title: 'Radio buttons' },
            { title: 'Checkboxes' },
            { title: 'Autocomplete' },
            { title: 'File upload' }
        ]
    },
    { title: 'Add multiquestion page' },
    { title: 'Add content page' },
    { title: 'Add exit page' },
    { title: 'Add branching' },
    { title: 'Change next page' }
] %}
