{%- from "system/component.njk" import component -%}
{%- from "system/connection-menu-items.njk" import connectionMenuItems  -%}
{%- from "system/page-menu-items.njk" import pageMenuItems -%}

<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Accessible Flow View - List Branch Conditions</title>
  <script type="importmap">
  {
    "imports": {
      "tabbable": "/assets/js/utils/tabbable.js"
    }
  }
  </script>
  <script type="module">
    document.documentElement.classList.remove('no-js');
    document.documentElement.classList.add('js');
  </script>



  <link rel="stylesheet" href="/assets/css/index.css">

  <script src="/assets/js/activated-menu.js" type="module"></script>
  <script src="/assets/js/flow-grid.js" type="module"></script>
  <script src="/assets/js/flow-item.js" type="module"></script>
</head>

<body>
<template id="flow-grid-template">
  <div role="row" part="row">
    <slot></slot>
  </div>
</template>

<template id="flow-item-template">
    <slot></slot>
</template>


<a href="#">before grid</a>


<h1 id="page-title">Pages Flow</h1>

<flow-grid aria-labelledby="page-title" aria-description="Use left and right arrow keys to navigate the pages in your form">

  {{ component('flow-item', {
    id: 'A',
    next: 'B',
    row: 1,
    col: 1,
    title: 'Start here',
    type: 'Start page',
    page_menu_items: pageMenuItems,
    connection_menu_items: connectionMenuItems
  }) }}

  {{ component('flow-item', {
    id: 'B',
    next: 'C',
    prev: 'A',
    row: 1,
    col: 2,
    title: 'Your name',
    type: 'Single question',
    variant: 'text',
    page_menu_items: pageMenuItems,
    connection_menu_items: connectionMenuItems
  }) }}

  {{ component('flow-item', {
    id: 'C',
    next: 'D',
    prev: 'B',
    row: 1,
    col: 3,
    title: 'Your email',
    type: 'Single question',
    variant: 'email',
    page_menu_items: pageMenuItems,
    connection_menu_items: connectionMenuItems
  }) }}

  {{ component('flow-item', {
    id: 'D',
    next: 'G',
    prev: 'C',
    row: 1,
    col: 4,
    title: 'Toast topping preferences',
    type: 'Multi question',
    page_menu_items: pageMenuItems,
    connection_menu_items: connectionMenuItems
  }) }}

  {{ component('branching-point', {
    id: 'G',
    next: 'E',
    prev: 'D',
    row: 1,
    col: 5,
    title: 'Branching point 1',
    type: 'Branching point',
    page_menu_items: pageMenuItems,
    connection_menu_items: connectionMenuItems,
    conditions: [
      {
        question: 'Do you like marmite?',
        operator: 'is',
        value: 'Love it',
        target_id: 'E',
        target_title: 'Check your answers'
      },
      {
        question: 'Do you like marmite?',
        operator: 'is',
        value: 'Hate it',
        target_id: 'E',
        target_title: 'Check your answers'
      },
      {
        target_id: 'E',
        target_title: 'Check your answers'
      }
    ]
  }) }}

  {{ component('flow-item', {
    id: 'H',
    prev: 'G',
    row: 3,
    col: 7,
    title: 'Your opinion is not strong enough',
    type: 'Exit',
    page_menu_items: pageMenuItems,
    connection_menu_items: connectionMenuItems
  }) }}

  {{ component('flow-item', {
    id: 'E',
    next: 'F',
    prev: 'G',
    row: 1,
    col: 7,
    title: 'Check your answers',
    type: 'Checkanswers',
    page_menu_items: pageMenuItems,
    connection_menu_items: connectionMenuItems
  }) }}

  {{ component('flow-item', {
    id: 'F',
    prev: 'E',
    row: 1,
    col: 8,
    title: 'Application Complete',
    type: 'Confirmation',
    page_menu_items: pageMenuItems,
    connection_menu_items: connectionMenuItems
  }) }}
</flow-grid>

<a href="#">after grid</a>

</body>
</html>
