---
layout: base.njk
---





<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing govuk-width-container govuk-body-m" id="main-content" role="main">
  <div class="fb-main-grid-wrapper" data-block-id="services" data-block-type="page" data-block-pagetype="services">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl" data-block-id="forms-heading" data-block-property="heading">Your forms</h1>

        <ul class="fb-editor-list fb-editor-form-list">
            <li id="service-checkanswers-content-test">
              <span class="name">
                Apply for a juggling license
              </span>
              <span class="actions">
                <a class="govuk-link edit" href="/flow">
                  Edit<span class="sr-only">: Apply for a juggling license</span>
                </a>
                <a class="govuk-link" target="_blank" href="#">
                  Preview<span class="sr-only">: Apply for a juggling license</span>
                </a>
              </span>
            </li>
          </ul>
        <button class="DialogActivator govuk-button fb-govuk-button" id="new-service-create-dialog167784779805406320603649827088">Create a new form</button>
      </div>
    </div>
  </div>
</main>


