
<div class="flow-item flow-item--standalone">
  <div class="flow-item__thumbnail">
    <a href="#" aria-hidden="true" tabindex="-1">
      <img class="header" alt="" src="/assets/img/thumbnails/thumbs_header.png">
      <span class="text">Cookies</span>
      <img class="body" alt="" src="/assets/img/thumbnails/thumbs_standalone.jpg">
    </a>
  </div>
  <h2>
    <a href="{{ params.href if params.href else '#' }}" class="govuk-link govuk-link--no-visited-state">
      <span class="sr-only">Edit page: </span>Cookies<span class="sr-only">, {{ params.type }} page</span>
    </a>
  </h2>
</div>
