<header class="govuk-header govuk-header__container" role="banner" data-module="govuk-header">
  <a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>

  <div class="govuk-width-container">
    <a href="/" aria-label="Back to Home" id="header-logo-link" class="page-header__logo" tabindex="-1" aria-hidden="true">
      <img alt="Ministry of Justice Logo - homepage" src="/packs/media/images/logo--white-41d7ef4f212d95b27899a86e00d92241.svg">
    </a>

    <a href="/" class="govuk-header__link govuk-header__service-name" aria-label="Back to Home">
      MoJ Forms
    </a>

      <nav class="fb-navigation-header" aria-label="Site menu">
        <ul class="govuk-navigation  govuk-!-font-size-19">
          <li>
            <a href="/">Your forms</a>
          </li>
          <li>
            <a target="_blank" href="https://moj-forms.service.justice.gov.uk/user-guide/">User guide</a>
          </li>
          <li>
            <a rel="nofollow" data-method="delete" href="#">Sign out</a>
          </li>
        </ul>
      </nav>
  </div>
</header>
